/* * {
  outline: 2px red dashed;
} */

/***responsive****/

/****body*****/

body {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: normal;
  width: auto;
  height: 1884px;
  margin-left: 48px;
  margin-right: 48px;
}

/*******header*********/

header {
  width: auto;
  height: 80px;
  display: flex;
}

#bloc_logo {
  flex-grow: 1;

  display: flex;
  align-items: center;
}

#logo img {
  width: 96px;
  height: 30px;
}

h1 {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.p_header {
  font-size: 0.8em;
  margin-top: 5px;
  font-weight: normal;
  margin-left: 0px;
}

p {
  font-size: 0.8em;
  margin-top: 8px;
  margin-bottom: 9px;
  font-weight: normal;
  margin-left: 0px;
}

/***navbar**/
@media screen and (max-width: 350px) {
  .menu {
    flex-direction:row-reverse;
    
  }
}

.navbar {
  display: flex;
  

}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.menu a {
  text-decoration: none;
  margin: 0px 20px;
}
.border,
.inscription {
  font-size: 0.9em;
  font-weight: bold;
}

.inscription {
  color: #0065fc;
  font-weight: bold;
}

.border:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 30px;
}

/*******bloc recherche****/

.container_recherche {
  display: flex;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

.icon_position {
  height: 50px;
  width: 50px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.champ_recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: #f2f2f2 1px solid;
  padding-left: 10px;
}

.boutton_rechercher {
  display: flex;
  height: 50px;
  width: 120px;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .boutton_rechercher {
    display: none;
  }

  .boutton-loupe {
    height: 50px;
    width: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #0065fc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .boutton-loupe {
    display: none;
  }
}

/*******filtre****/

@media screen and (max-width: 1200px) {

 
  .filtre_onglet {
    margin-left: 0px;
    margin-bottom: 15px;
  }
}



#container_filtre {
  display: flex;
}

.bloc_filtre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-items: center;
  cursor: pointer;
}

.filtre_titre {
  display: flex;
  align-items: center;
}
.filtre_onglet {
  margin-left: 25px;
  font-weight: bold;
  border: rgb(207, 204, 204) 2px solid;
  padding: 0px 20px 0px 0px;
  margin-top: 0px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  align-items: center;
}

.filtre_onglet:hover {
  background-color: #deebff;
}

.filtre_icon {
  background-color: #deebff;
  color: #0065fc;
  border: #deebff 2px solid;
  padding: 18px;
  border-radius: 25px 25px 25px 25px;
  margin-right: 15px;
}

.filtre_icon:hover {
  background-color: white;
  border: white 2px solid;
}

/*******point info****/
.fa-info {
  background-color: white;
  border: rgb(207, 204, 204) 1px solid;
  color: #0065fc;
  border-radius: 20px 20px 20px 20px;
  height: 15px;
  width: 15px;
  padding: 6px 4px 6px 11px;
  margin-right: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titreinfo {
  margin-top: 6px;
  font-weight: normal;
  font-size: 0.9em;
  margin-left: 0px;
}

/**container heberge+populaire**/

#blocsection1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**hébergements**/

#section_hebergement {
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  width: 880px;
  height: 625px;
}

.heb_titre_principal {
  font-size: 1.2rem;
  margin-top: 38px;
  margin-left: 38px;
}

.heb_groupe_article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heb_article {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border: 1px white solid;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 250px;
  height: 200px;
}
.img0 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  height: 112px;
  width: 98%;
  margin: auto;
  margin-top: 3px;
}

.heb_nom_hotel {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  margin-bottom: 1px;
  margin-left: 5px;
}
.bold_tarif {
  font-weight: bold;
  color: black;
}
.heb_nom_hotel,
p {
  margin-left: 10px;
}

.heb_etoiles {
  color: #0065fc;
  font-size: 0.6em;
  margin-left: 10px;
}

h5 {
  font-size: 1em;
  margin-left: 35px;
  margin-top: 15px;
  cursor: pointer;
}

/*********section populaire***********/
.section_populaire {
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 625px;
}

.bloc_titre_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: -38px;
  margin-left: 48px;
  margin-right: 48px;
}

.pop_titre_principal {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}

.fa-chart-line {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin: 30px 0px 20px 0px;
}

.pop_photo_descriptif {
  display: flex;
  padding: 5px;
  height: 140px;
  background-color: white;
  margin: 35px 48px 35px 48px;
  border-radius: 20px;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
}

.pop_descriptif {
  display: flex;
  flex-direction: column;
}
.pop_nom_hotel {
  padding: 0px 30px 0px 15px;

  font-size: 0.8em;
}
.pop_tarif {
  margin-top: -5px;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 130px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.pop_etoiles {
  margin-top: 40px;
  margin-left: 10px;
  color: #0065fc;
  font-size: 0.6em;
}

span {
  color: rgb(207, 204, 204);
}

/**activites**/

#bloc_activites {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1341px;
  height: 540px;
}

.activites_titre {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 5px;
}

.activites_groupe_article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 491px;
  margin-left: 0px;
}

.activites_intitule {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.art_bloc1 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 446px;
}

.img1 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 387px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc2 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 238px;
}

.img2 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 179px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc3 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 9.5px 20px 19px 24px;
  width: 301px;
  height: 165px;
}

.img3 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 110px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc4 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 446px;
}

.img4 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 387px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}
.art_bloc5 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 196px;
}

.img5 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 140px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc6 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 9.5px 20px 19px 24px;
  width: 301px;
  height: 210px;
}

.img6 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 153px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

/**footer**/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 218px;
  margin-left: -48px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 48px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.footer {
}

h7 {
  font-weight: normal;
  font-size: 0.9em;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
}
