/* * {
  outline: 2px red dashed;
} */



/****body*****/

body {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: normal;
  max-width: 1440px;
}

a {
  text-decoration: none;
}
/*******header*********/

header {
  width: auto;
  height: 80px;

}

.navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
    }


#bloc_logo {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo img {
  width: 96px;
  height: 30px;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.border {
display: flex;
padding-top: 40px;
margin-top: -8px;
   
}

.trait_bleu{
color: black;
font-size: 0.9em;
font-weight: bold;
margin: 0px 30px;
}

 .sans_border
 {display: flex;
   margin-top: 32px;
 }
 
 .inscription {
  color: #0065fc;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0px 30px;
}

 .border:hover {
   border-top: 2px solid #0065fc;
 }
 
 .trait_bleu:hover{
  color: #0065fc;
 }
 
 
/***titre1***/
}
h1 {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  display: block;
}

.p_header {
  font-size: 0.8em;
  margin-top: 5px;
  font-weight: normal;
  margin-left: 0px;
}

p {
  font-size: 0.8em;
  margin-top: 8px;
  margin-bottom: 9px;
  font-weight: normal;
  margin-left: 0px;
}



/*******bloc recherche****/

.barre-de-recherche {
  display: flex;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.icon_position {
  height: 50px;
  width: 50px;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.champ_recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  border: #f2f2f2 1px solid;
  padding-left: 10px;
}

.boutton_rechercher {
  display: flex;
  height: 50px;
  width: 120px;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  align-items: center;
  justify-content: center;
}

.boutton-loupe {
display: none;
}

/*******filtre****/

#container_filtre {
  display: flex;
}

.filtre_titre {
  display: flex;
  align-items: center;
}


.bloc_filtre {
  display: flex;
  list-style: none;
  align-items: center;
  cursor: pointer;
  margin-left: -35px;
}


.filtre_onglet {
  margin-left: 25px;
  font-weight: bold;
  border: rgb(207, 204, 204) 2px solid;
  padding: 0px 20px 0px 0px;
  margin-top: 0px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  align-items: center;
}

.filtre_onglet:hover {
  background-color: #deebff;
}

.filtre_icon {
  background-color: #deebff;
  color: #0065fc;
  border: #deebff 2px solid;
  padding: 18px;
  border-radius: 25px 25px 25px 25px;
  margin-right: 15px;
}

.filtre_icon:hover {
  background-color: white;
  border: white 2px solid;
}

/*******point info****/
.fa-info {
  background-color: white;
  border: rgb(207, 204, 204) 1px solid;
  color: #0065fc;
  border-radius: 20px 20px 20px 20px;
  height: 15px;
  width: 15px;
  padding: 6px 4px 6px 11px;
  margin-right: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titreinfo {
  margin-top: 6px;
  font-weight: normal;
  font-size: 0.9em;
  margin-left: 0px;
}

/**container heberge+populaire**/

#bloc_heb_pop {
  display: flex;
  flex-direction: row;
}

/**hébergements**/

#section_hebergement {
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  width: 80%;
  height: auto;
  justify-content: center;
}

.heb_titre_principal {
  font-size: 1.2rem;
  margin-top: 38px;
  margin-left: 38px;
}

.heb_groupe_article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heb_article {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border: 1px white solid;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 235px;
  height: 200px;
  margin-right: 5px;
}
.img0 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  height: 112px;
  width: 98%;
  margin: auto;
  margin-top: 3px;
  object-fit: cover;
}

.heb_description {
  margin-left: 10px;
}
.heb_nom_hotel {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  margin-bottom: 1px;
}
.bold_tarif {
  font-weight: bold;
  color: black;
}

.heb_etoiles {
  color: #0065fc;
  font-size: 0.6em;
}

h5 {
  font-size: 1em;
  margin-left: 35px;
  margin-top: 15px;
  cursor: pointer;
}

/*********section populaire***********/
.section_populaire {
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  margin-right: 0px;
  margin-left: 30px;
  flex-direction: column;
  width: 400px;
  height: auto;
}


.bloc_titre_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: -38px;
  margin-left: 48px;
  margin-right: 48px;
}

.pop_titre_principal {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}

.fa-chart-line {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin: 30px 0px 20px 0px;
}

.pop_photo_descriptif {
  display: flex;
  padding: 5px;
  width: 315px;
  height: 140px;
  background-color: white;
  margin: 35px 35px 35px 35px;
  border-radius: 20px;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  text-decoration: none;
  color: black;
}

.pop_descriptif {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 35px;
  justify-content: space-between;
}
.pop_nom_hotel {
  font-size: 0.8em;
}

.pop_tarif {
  margin-top: -60px;
}

img {
  width: 130px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.pop_etoiles {
  color: #0065fc;
  font-size: 0.6em;
}

span {
  color: rgb(207, 204, 204);
}

/**activites**/

#bloc_activites {
display: flex;
flex-direction: column;
margin: 20px 0px 20px 0px ;
 

  
}


.activites_titre {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 5px;
}

.activites_groupe_article {
  
  display: flex;
}

.pave_activites
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  
  width: auto;
 
  

}

.activites_intitule {
  font-size: 0.9em;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.art_bloc1 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 446px;
}

.img1 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 387px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc2 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 238px;
}

.img2 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 179px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc3 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 9.5px 20px 19px 24px;
  width: 301px;
  height: 165px;
}

.img3 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 110px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc4 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 446px;
}

.img4 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 387px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}
.art_bloc5 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 20px 19px 24px;
  width: 301px;
  height: 196px;
}

.img5 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 140px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

.art_bloc6 {
  background-color: white;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  border-radius: 10px 10px 10px 10px;
  margin: 9.5px 20px 19px 24px;
  width: 301px;
  height: 210px;
}

.img6 {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  width: 301px;
  height: 153px;
  text-align: center;
  margin: auto;
  object-fit: cover;
}

/**footer**/

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 218px;
  margin-left: -48px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
  padding-left: 48px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.footer {
}

h7 {
  font-weight: normal;
  font-size: 0.9em;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
}
